
<nav class="navbar flex-wrap" role="navigation" aria-label="main navigation">
  
  <div class="navbar-brand flex-wrap">
    <a class="navbar-item" href="https://www.seagate.com/">
      <!-- <img src="https://bulma.io/images/bulma-logo.png" width="100" height="20"> -->
      <img src="https://branding.seagate.com/content/thumb/png/602f7a7a-78af-4b06-bfbf-dde46d03a980">
    </a>
    <!-- <p class="navbar-item app_name" >
      <strong>Schedule Data Transfer</strong>
    </p> -->


    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>

      <a class="navbar-item">
        Downloads
      </a>
      <a class="navbar-item">
        Help
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <!-- <a class="button is-primary">
            <strong>Sign up</strong>
          </a> -->
          <a class="button is-light">
            Log out
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>