
<div class="columns is-mobile is-centered">
  <div class="column is-four-fifths">
    <div class="table-container">
      <table class="table is-fullwidth is-hoverable">
        <thead>
          <tr>
            <th><abbr title="Position">Select</abbr></th>
            <th><abbr title="Played">Job ID</abbr></th>
            <th><abbr title="Played">Name</abbr></th>
            <th><abbr title="Won">Status</abbr></th>
            <th><abbr title="Drawn">Description</abbr></th>
            <th><abbr title="Lost">Scheduled At</abbr></th>
            <th><abbr title="Goals for">Site Time</abbr></th>
            <th><abbr title="Goals against">Last Run on</abbr></th>
            <th>Created On</th>
          </tr>
        </thead>
      </table>
</div>
  </div>
</div>

